<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" width="30" height="30" class="d-inline-block align-top mx-2" alt="">
      Angular + Spring boot
    </a>
    <form class="form-inline">
      <button (click)="Listar()" class="btn btn-secundary">Listar</button>
      <button (click)="Nuevo()" class="btn btn-secundary">Añadir</button>
    </form>
  </nav>
  <hr>
  </div>

<router-outlet></router-outlet>
